.galleryImage{
    background-color: $backgroundColor;
    border-radius: 35px;
    width: auto;
    min-width: 50px;
    height: 45vh;
    border-style: solid;
    border-width: 7px;
    border-color: $lifear;
    margin: 8px;
}