@media screen and (max-width: 700px){
    .doohickey:nth-child(5){
        display:none;
    }
}
@media screen and (max-width: 450px){
    .doohickey:nth-child(4){
        display:none;
    }
}

@media screen and (max-width: 350px){
    .doohickey{
        display:none;
    }
}