.entryParent{
    background-color: transparent;
    border-radius: 35px;
    border-style: solid;
    border-color: blue;
    border-width: 5px;
    padding: 8px;
    margin: 8px 0px;
    color: blue;
    position: relative;
    background-color: white;

    &::before {
        content: "-";
        font-size: 75px;
        color:blue;
        position: absolute;
        right: 0;
        top: -20px;
    }

    &.closed{
        background-color: transparent;
        margin: 8px 20px;
        .entryDescription{
            display: none;
        }
        &::before {
            content: "+";
        }
    }
}