.slides {
    display: none;
    height: 37vh;
    max-width: 0vw;
    vertical-align: middle;
    align-content: center;
    border-radius: 50px;
    background-color: $backgroundColor;
    padding: 0px 30px;
    overflow: hidden;//as we scale during the animation, the text leaks out of the box
    &.red{
        background-color: $backgroundColorRed;
    }

    &.showing{
        display:grid;
        max-width: 50vw;
    }
}

.carousel{
    width:100%;
    align-content: center;
    justify-content: center;
    position: relative;
    display: flex;
}
.slideButton{
    width:10vw;
    height: 10vw;
    min-width: 50px;
    background: none;
    color: none;
    border: none;
    padding: 8px;
    top: 10vh;
    position: absolute;
    outline: none;

    &.left{
        left: 7%;
    }
    &.right{
        right: 7%;
    }
}
.slideButton:focus, .slideButton:hover{
    background: none;
}

.arrow{
    stroke-width: 15;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: $blue;
    transition: stroke-width 0.2s ease-in-out;
}
.arrow:hover, .arrow:focus{
    stroke-width: 17;
}
@include carouselForColor("red",$red);