#header {
    width: 100%;
    z-index: 0;
    top: 0;
}
#nav{
    position: fixed;
    z-index: 100;
}
#contents{
    padding-right: 5%;
    padding-left: 5%;
    z-index: 0;
    background-image: url(Resources/universal/randomShapes.svg);
    background-repeat: no-repeat;
    background-size: 100% 100%;

    &.red{
        background-image: url(Resources/universal/randomShapesRed.svg);
    }
}
#footer{
    bottom:0;
}