.pricingTable{
    background-color: white;
    border-radius: 35px;
    border: solid $lifear 7px;
    margin: 4px;
    padding: 0;
    box-sizing: border-box;
    width: 250px;

    &.custom{
        width: 100%;
    }
}

.price, .priceAfter{
    text-align: center;
}

.planTitle{
    background-color: $lifear;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    color: white;
}

.description, .imgTarget, .vidTarget{
    border-bottom: 1px solid #ccc;
}
.description{
    display: table-cell;
    vertical-align: middle;
    height: 8vh;
    padding: 2px 5px;
}
.pricingTable p{
    margin: 5px;
}

#included{
    display: flex;
}
#included .planTitle{
    border-top-right-radius: 0px;
    border-bottom-left-radius: 20px;
    padding: 8px;
    text-align: center; 
    line-height: 11vh;
}
#included ul li{
    text-align: left;
}