$blue: rgb(63, 88, 229);
$green:rgb(127, 220, 84);
$yellow:rgb(215, 202, 64);
$red:rgb(229, 63, 63);
$teal: rgb(7, 152, 186);
$backgroundColor: rgb(236, 248, 254);
$backgroundColorRed: rgb(254, 236, 236);